<!-- template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un accessoire pour le matériel {{ materiel.nom }}</title>
</head>
<body>
    {% include 'gestion_materiel/includes/entete.html' %}

    <div class="container">
        <h1>Ajouter un accessoire pour le matériel {{ materiel.nom }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.nom }}
            {{ form.present }}
            <div class="form-group">
                <label>(ne pas prendre en compte) État</label>
                {{ form.etat }}
            </div>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
    </div>
</body>
</html>
