<!DOCTYPE html>
<html>
<head>
    <title>Liste des accessoires pour le matériel {{ materiel.nom }}</title>
</head>
<body>
    {% include 'gestion_materiel/includes/entete.html' %}

    <div class="container">
        <h1>Liste des accessoires pour le matériel {{ materiel.nom }}</h1>
        <a href="{% url 'ajouter_accessoire' materiel_id=materiel.id %}" class="btn btn-primary">Ajouter un accessoire</a>
        {% if accessoires %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Présent</th>
                        <th>État</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for accessoire in accessoires %}
                        <tr>
                            <td>{{ accessoire.nom }}</td>
                            <td>
                                {% if accessoire.present %}
                                    <span style="margin-left: 5px"> Oui </span><span class="text-success">&#10004;</span>
                                {% else %}
                                    <span style="margin-left: 5px"> Non </span><span class="text-danger">&#10008;</span>
                                {% endif %}
                            </td>
                            <td>{{ accessoire.etat }}</td>
                            <td>
                                <form method="post" action="{% url 'supprimer_accessoire' materiel_id=materiel.id accessoire_id=accessoire.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun accessoire trouvé pour ce matériel.</p>
        {% endif %}
    </div>
</body>
</html>
