<!DOCTYPE html>
<html>
<head>
    <title>Liste des accessoires</title>
</head>
<body>
    {% include 'gestion_materiel/includes/entete.html' %}

    <div class="container">
        <h1>Liste des accessoires pour {{ materiel.nom }}</h1>
        {% if accessoires %}
            <ul>
                {% for accessoire in accessoires %}
                    <li>{{ accessoire.nom }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun accessoire trouvé.</p>
        {% endif %}
    </div>
</body>
</html>