<!DOCTYPE html>
<html>
<head>
    <title>Liste des salles</title>
</head>
<body>
    {% include 'gestion_materiel/includes/entete.html' %}

    <div class="container">
        <h1>Liste des salles</h1>
        {% if salles %}
            <ul>
                {% for salle in salles %}
                    <li>
                        {{ salle.nom }} (Étage {{ salle.etage }})
                        <form action="{{ salle.get_delete_url }}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Supprimer</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucune salle trouvée.</p>
        {% endif %}
    </div>
</body>
</html>
